<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkOrderX.WPF.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WorkOrderX.WPF.Settings>
            <setting name="Test_WorkOrderXApi" serializeAs="String">
                <value>http://localhost:5069</value>
            </setting>
            <setting name="WorkOrderXApi" serializeAs="String">
                <value>http://localhost:5069</value>
            </setting>
        </WorkOrderX.WPF.Settings>
    </userSettings>
</configuration>